
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    /* Fundo geral */
    --bg-page: #f7f7f7;

    /* Cards / containers */
    --bg-card: #ffffff;
    --bg-sidebar: #ffffff;

    /* Bordas suaves */
    --border-color: #ebebeb;

    /* Texto */
    --text-primary: #1f1f1f;
    --text-secondary: #8d8d8d;
    --text-light: #b8b8b8;

    /* Verde principal */
    --green-primary: #1e7a43;

    /* Verde claro */
    --green-light: #6dcf9a;

    /* Verde escuro */
    --green-dark: #0d5a2f;

    /* Hover / detalhes */
    --green-soft: #dff3e7;

    /* Sombras */
    --shadow-soft: rgba(0, 0, 0, 0.08);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", serif;
}
/* numeros grandes dos cards */
h1 {
font-size: 32px;
font-weight: 600;
color: var(--text-primary);
} 
/* título dash */
h2 {
font-size: 25px;
font-weight: 500;
color: var(--text-primary);
}

/* outros números dos cards */
h3 {
    font-size: 24px;
    font-weight: 500;
    color: var(--bg-card);
}

/* meeting card */
h4 {
    font-size: 20px;
    font-weight: 500;
    color: var(--green-dark);
}

h5 { /* títulos cards */
    font-size: 15px;
    font-weight: 500;
    color: var(--text-primary   );
}

h6{ /* títulos menu-lateral */
    font-size: 10px;
    font-weight: 400;
    color: var(--text-secondary);
}

/* Infos cards area maior */
h7{
    font-size:10px;
    font-weight: 500;
    color: var(--text-primary);
}

/* info cards area menor */
p {
font-size: 9px;
font-weight: 300;
color: var(--green-dark);
}

/* mobile first */

.layout{
    min-width: 100vw;
    min-height: 100vh;
    background: var(--bg-sidebar);
    padding: 5px;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-areas: 
    "menu-lateral container";
    gap: 5px;
}

.text{
    display: none;
}

.menu-lateral {
    grid-area: menu-lateral;
    width: 100%;
    height: 100%;
    background: var(--bg-page);
    padding: 10px;
    border-radius: 16px;
    display: grid;
    grid-template-rows: 50px 180px 180px;
    grid-template-areas: 
    "logo"
    "menu"
    "general"
    "download";
    gap: 40px;
}

.menu-lateral .material-symbols-outlined{
    font-size: 20px;
    color: var(--text-secondary);
}

.menu-lateral .ativo{
    color: var(--green-dark);
}

.menu-lateral .logo{
    grid-area: logo;
    width: 60px;
    height: 60px;
    background: var(--bg-page);
    border-radius: 16px;
    position: fixed;
    left: 5px;
    top: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-lateral .logo>h5{
    font-weight: 600;
    color: var(--text-primary);
}

.menu-lateral .logo>img{
width: 30px;
height: 30px;
}

.menu-lateral .menu{
    grid-area: menu;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.menu-lateral .general{
    grid-area: general;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.menu-lateral .download{
    display: none;
}

.container{
    grid-area: container;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    "cabecalho"
    "dashboard";
    gap: 5px;
}

.container .cabecalho{
    grid-area: cabecalho;
    background: var(--bg-page);
    border-radius: 16px;
    padding: 10px;
    border-bottom: 2px solid var(--bg-sidebar);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.container .cabecalho .search {
    max-width: 100%;
    height: 40px;
    background: var(--bg-card);
    border-radius: 16px;
    box-shadow: 0px 0px 1px var(--shadow-soft);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.container .cabecalho .search span{
    position: relative;
    left: 5px;
    top: 2px;
}

.container .cabecalho .search input{
    border: none;
}

.container .cabecalho .usuario{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.container .cabecalho .usuario .email{
    width: 40px;
    height: 40px;
    background: var(--bg-card);
    border-radius: 50%;
    box-shadow: 0px 0px 1px var(--shadow-soft);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .cabecalho .usuario .sino{
    width: 40px;
    height: 40px;
    background: var(--bg-card);
    border-radius: 50%;
    box-shadow: 0px 0px 1px var(--shadow-soft);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .cabecalho .usuario .perfil{
    width: 40px;
    height: 40px;
    background: radial-gradient(white, pink);
    border-radius: 50%;
    box-shadow: 0px 0px 5px var(--shadow-soft);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .cabecalho .usuario .perfil>img{
    width: 32px;
    height: 32px;
    position: relative;
    bottom: 2px;
    left: 1px;
}

.container .dashboard{
    grid-area: dashboard;
    background: var(--bg-page);
    border-radius: 16px;
    display: grid;
    grid-template-rows: 70px 290px 1fr;
    grid-template-areas:
    "intro"
    "menor"
    "maior";
}

.container .dashboard .intro{
    grid-area: intro;
    padding: 10px;
    margin-left: 15px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-areas: 
    "titulo buttons"
    "descricao descricao";
    /* border:1px solid blue; */
}

.container .dashboard .intro .titulo{
grid-area: titulo;
}

.container .dashboard .intro .descricao{
grid-area: descricao;
}

.container .dashboard .intro .buttons{
grid-area: buttons;
position: relative;
top: 5px;
}

.container .dashboard .intro .buttons button {
    width: 100px;
    height: 25px;
    border-radius: 16px;
    border: none;
    font-size: 12px;
}

.container .dashboard .intro .buttons .verde{
    background: var(--green-dark);
    color: var(--bg-card);
}

.container .dashboard .intro .buttons .branco{
    background: var(--bg-card);
    border: 1px solid var(--green-dark);
    color: var(--green-dark);
}

.container .dashboard .area-menor{
    grid-area: menor;
    display: grid;
    padding: 10px 10px 0px 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "n1 n2"
    "n3 n4";
    gap: 5px;
/* border: 1px solid red; */
}

.container .dashboard .area-menor .n1{
    grid-area: n1;
}

.container .dashboard .area-menor .n2{
    grid-area: n2;
}

.container .dashboard .area-menor .n3{
    grid-area: n3;
}

.container .dashboard .area-menor .n4{
    grid-area: n4;
}

.container .dashboard .area-menor .card{
    width: 180px;
    height: 130px;
    padding: 20px 10px 10px 10px;
    background: var(--bg-card);
    border-radius: 16px;
    color: var(--text-primary);
}

.container .dashboard .area-menor .card.n1{
    background-color: var(--green-dark);
}

.container .dashboard .area-menor .card h5{
    color: var(--text-primary);
}

.container .dashboard .area-menor .card.n1>h5{
    color: var(--bg-card);
}

.container .dashboard .area-menor .card.n1>h1{
    color: var(--bg-card);
}

.container .dashboard .area-menor .card .seta {
    width: 25px;
    height: 25px;
    background: var(--bg-card);
    border: 1px solid var(--green-dark);
    border-radius: 50%;
    position: relative;
    left: 133px;
    bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .dashboard .area-menor .card .material-symbols-outlined{
color: var(--green-dark);
font-size: 13px;
}

.container .dashboard .area-menor .card h1{
    position: relative;
    bottom: 20px;
}

.container .dashboard .area-menor .card .feedback {
    width: 150px;
    height: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 20px;
}

.container .dashboard .area-menor .card.n1 .feedback p{
    color: var(--green-light);
}

.container .dashboard .area-menor .card.n1 .feedback span {
    color: var(--green-light);
}

.container .dashboard .area-menor .card.n4 .feedback span {
    color: var(--bg-card);
}

.container .dashboard .area-menor .card .feedback .anterior{
    width: 28px;
    height: 25px;
    border: 1px solid var(--green-dark);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .dashboard .area-menor .card.n4 .feedback .anterior{
    display: none;
}

.container .dashboard .area-menor .card.n1 .feedback .anterior{
border: 1px solid var(--green-light);
}

/* Area maior */

.container .dashboard .area-maior{
    grid-area: maior;
    padding: 0px 10px 10px 10px;
    margin: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
    "analytics analytics"
    "reminder project"
    "time project"
    "progress progress"
    "team team";
    gap: 10px;
}

/* grafico semana */

.container .dashboard .area-maior .analytics{
    grid-area: analytics;
    background: var(--bg-card);
    padding: 20px 10px 10px 10px;
    border-radius: 16px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "titulo"
    "grafico"
    "data";
    gap: 3px;
}

.container .dashboard .area-maior .analytics .titulo{
    grid-area: titulo;
    margin-bottom: 7px;
}
.container .dashboard .area-maior .analytics .grafico{
    grid-area: grafico;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: 
    "coluna1 coluna2 coluna3 coluna4 coluna5 coluna6 coluna7";
    align-items: baseline;
    gap: 10px;
}

.container .dashboard .area-maior .analytics .grafico .geral{
    box-shadow: 0px 0px 10px var(--shadow-soft);
    width: 35px;
}

.coluna1{
    grid-area: coluna1;
    height: 80px;
    border-radius: 24px;
}

.coluna2{
    grid-area: coluna2;
    height: 100px;
    border-radius: 24px;
    background: var(--green-primary);
}

.coluna3{
    grid-area: coluna3;
    height: 75px;
    border-radius: 24px;
    background: var(--green-light);
}

.coluna4{
    grid-area: coluna4;
    height: 105px;
    border-radius: 24px;
    background: var(--green-dark);
}

.coluna5{
    grid-area: coluna5;
    height: 107px;
    border-radius: 24px;
}

.coluna6{
    grid-area: coluna6;
    height: 75px;
    border-radius: 24px;
}

.coluna7{
    grid-area: coluna7;
    height: 95px;
    border-radius: 24px;
}

.riscado{
    background:
        repeating-linear-gradient(
            135deg,
            transparent 0px,
            transparent 4px,
            #9ba9a1 4px,
            #9ba9a1 8px
        );
}

.container .dashboard .area-maior .analytics .data{
    grid-area: data;
    display: grid;
    grid-template-columns: repeat(7, 40px);
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.container .dashboard .area-maior .analytics .data h5{
    color: var(--text-light);
}

.container .dashboard .area-maior .reminder{
grid-area: reminder;
background: var(--bg-card);
    padding: 20px 10px 10px 10px;
border-radius: 16px;
display: flex;
flex-direction: column;
gap: 10px;
}

.container .dashboard .area-maior .reminder .corpo p{
    font-size: 12px;
    color: var(--text-secondary);
}

.container .dashboard .area-maior .reminder .button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .dashboard .area-maior .reminder .button button{
    width: 160px;
    height: 30px;
    border-radius: 16px;
    border: none;
    background: var(--green-dark);
    color: var(--bg-card);
}

.container .dashboard .area-maior .reminder .button span {
    font-size: 14px;
    color: var(--bg-card);
    position: relative;
    top: 2px;
}

.container .dashboard .area-maior .time{
    grid-area: time;
    height: 140px;
    background-image: url(img/Backgrounds/background-time.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    border-radius: 16px;
    display: grid;
    grid-template-rows: 20px 60px 40px;
    grid-template-areas: 
    "titulo"
    "cronometro"
    "buttons";
}

.container .dashboard .area-maior .time .titulo{
    grid-area: titulo;
}

.container .dashboard .area-maior .time .titulo h5{
    color: var(--bg-card);
}

.container .dashboard .area-maior .time .cronometro{
    grid-area: cronometro;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .dashboard .area-maior .time .buttons{
    grid-area: buttons;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container .dashboard .area-maior .time .buttons button{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.container .dashboard .area-maior .time .buttons .branco .pause{
    width: 6px;
    height: 17px;
    background: var(--green-dark);
    border-radius: 2px;
}

.container .dashboard .area-maior .time .buttons .vermelho{
    background: red;
}

.container .dashboard .area-maior .time .buttons .vermelho .stop{
    width: 17px;
    height: 17px;
    background: var(--bg-card);
    border-radius: 3px;
}

.container .dashboard .area-maior .project {
    grid-area: project;
    background: var(--bg-card);
    border-radius: 16px;
    padding: 20px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 1fr;
    grid-template-areas: 
    "titulo button"
    "info info";
}

.container .dashboard .area-maior .project .titulo{
    grid-area: titulo;
}

.container .dashboard .area-maior .project .button{
    grid-area: button;
}

.container .dashboard .area-maior .project .button button{
    width: 60px;
    height: 30px;
    border-radius: 16px;
    border: 1px solid var(--green-dark);
    color: var(--green-dark);
    background: var(--bg-card);
    position: relative;
    bottom: 5px;
    left: 20px;
}

.container .dashboard .area-maior .project .info{
    grid-area: info;
}

.container .dashboard .area-maior .project .info .card{
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-template-areas: "icone texto";
    justify-items: start;
    align-items: center;
}    

.container .dashboard .area-maior .project .info .card .texto{
    grid-area: texto;
    height: 40px;
}

.container .dashboard .area-maior .project .info .card .texto p{
    color: var(--text-light);
}

.container .dashboard .area-maior .project .info .card .icone{
    grid-area: icone;
}

.container .dashboard .area-maior .project .info .card .icone img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
}

.container .dashboard .area-maior .progress {
    grid-area: progress;
    padding: 20px 10px 10px 10px;
    background: var(--bg-card);
    border-radius: 16px;
    display: grid;
    grid-template-rows: 30px 160px 35px;
    grid-template-areas:
        "titulo"
        "grafico"
        "legenda";
}

.container .dashboard .area-maior .progress .titulo {
    grid-area: titulo;
}

.container .dashboard .area-maior .progress .grafico {
    grid-area: grafico;
    position: relative;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#progressChart {
    width: 260px;
    height: 160px;
}

.progress-text {
    position: absolute;
    top: 78px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.progress-text h2 {
    font-size: 42px;
    font-weight: 500;
    color: var(--text-primary);
}

.progress-text p {
    font-size: 12px;
    color: var(--green-dark);
}

.container .dashboard .area-maior .progress .legenda {
    grid-area: legenda;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .dashboard .area-maior .progress .legenda > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.container .dashboard .area-maior .progress .legenda .ex {
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.container .dashboard .area-maior .progress .legenda .completed .ex {
    background: var(--green-primary);
}

.container .dashboard .area-maior .progress .legenda .in-progress .ex {
    background: var(--green-dark);
}

.container .dashboard .area-maior .progress .legenda .pending .ex {
    background:
        repeating-linear-gradient(
            135deg,
            transparent 0px,
            transparent 3px,
            #8f9d96 3px,
            #8f9d96 5px
        );
}

.container .dashboard .area-maior .team{
    grid-area: team;
    padding: 20px 10px 10px 10px;
    background: var(--bg-card);
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "titulo button"
    "members members";
    gap: 10px;
}

.container .dashboard .area-maior .team h7{
    font-size: 14px;
}

.container .dashboard .area-maior .team p{
    color: var(--text-secondary);
}

.container .dashboard .area-maior .team strong{
    color: var(--text-primary);
    font-weight: 600
}

.container .dashboard .area-maior .team .titulo{
    grid-area: titulo;
}

.container .dashboard .area-maior .team .button{
    grid-area: button;
}

.container .dashboard .area-maior .team .button button{
    width: 110px;
    height: 30px;
    background: var(--bg-card);
    border: 1px solid var(--green-dark);
    border-radius: 16px;
    color: var(--green-dark);
    position: relative;
    left: 60px;
    bottom: 2px;
}

.container .dashboard .area-maior .team .members{
    grid-area: members;
}

.container .dashboard .area-maior .team .members .card{
    display: grid;
    padding-bottom: 5px;
    grid-template-columns: 40px 1fr 70px;
    grid-template-areas: 
    "imagem info status";
    gap: 10px;
}

.container .dashboard .area-maior .team .members .card .imagem{
    grid-area: imagem;
    width: 40px;
    height: 40px;
    background: pink;
    border-radius: 50%;
    box-shadow: 0px 0px 5px var(--shadow-soft);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .dashboard .area-maior .team .members .card .imagem.verde{
    background: #D3F6AE;
}

.container .dashboard .area-maior .team .members .card .imagem.azul{
    background: #B0B6F4;
}
.container .dashboard .area-maior .team .members .card .imagem.amarelo{
    background: #F4DEB1;
}

.container .dashboard .area-maior .team .members .card .imagem img{
    width: 32px;
    height: 32px;
    position: relative;
    bottom: 2px;
    left: 1px;
}

.container .dashboard .area-maior .team .members .card .info{
    grid-area: info;
}

.container .dashboard .area-maior .team .members .card .status{
    grid-area: status;
    width: auto;
    height: 15px;
    color: var(--green-dark);
    background: rgba(0, 255, 8, 0.08);
    border: 1px solid var(--green-light);
    border-radius: 4px;
    position: relative;
    bottom: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .dashboard .area-maior .team .members .card .status p{
    color: var(--green-light);
}

.container .dashboard .area-maior .team .members .card .status.in{
    background: rgba(255, 255, 0, 0.08);
    border: 1px solid rgb(178, 178, 0);
}

.container .dashboard .area-maior .team .members .card .status.in p{
    color: rgb(178, 178, 0);
}

.container .dashboard .area-maior .team .members .card .status.pending{
    background: rgba(255, 0, 0, 0.08);
    border: 1px solid red;
}

.container .dashboard .area-maior .team .members .card .status.pending p{
    color: red;
}






/* Versão tablete */

@media (min-width:768px){

    h1 {
font-size: 32px;
font-weight: 600;
color: var(--text-primary);
} 
/* título dash */
h2 {
font-size: 28px;
font-weight: 500;
color: var(--text-primary);
}

/* outros números dos cards */
h3 {
    font-size: 24px;
    font-weight: 500;
    color: var(--bg-card);
}

/* meeting card */
h4 {
    font-size: 20px;
    font-weight: 500;
    color: var(--green-dark);
}

h5 { /* títulos cards */
    font-size: 15px;
    font-weight: 500;
    color: var(--text-primary   );
}

h6{ /* títulos menu-lateral */
    font-size: 10px;
    font-weight: 400;
    color: var(--text-secondary);
}

/* Infos cards area maior */
h7{
    font-size:10px;
    font-weight: 500;
    color: var(--text-primary);
}

/* info cards area menor */
p {
font-size: 9px;
font-weight: 300;
color: var(--green-dark);
}

.container .dashboard .intro .buttons{
    left: 135px;
}

.container .dashboard .intro .buttons button{
width: 110px;
height: 30px;
font-size: 13px;
}

.container .dashboard .area-menor{
gap: 10px;
align-items: center;
justify-items: center;
}

.container .dashboard .area-menor .card{
    width: 330px;
}

.container .dashboard .area-menor .card .seta{
    left: 280px;
}

.container .dashboard .area-menor .card .feedback{
    width: 200px;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}


.container .dashboard .area-menor .card .feedback .anterior{
    width: 30px;
    height: 18px;
}

}